# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/src-tauri/back
/src-tauri/.dokimodmanager
/src-tauri/target
/dist
/node_modules
/src-tauri/.dokimodmanager/client-config.json
/src-tauri/.dokimodmanager/DNNconfig.json
/src-tauri/.gitignore
/src-tauri/unrpyc.sh
/src-tauri/unrpyc.exe
/src-tauri/dokimodmanager-new.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
