.taskbar {
    width: 100vw;
    height: 7vh;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 0;
    background-color: rgb(40,40,40);
}

.icon-holder {
    width: 5vw;
    height: 12.5vh;
    border-radius: 5px;
}

.icon-holder:hover {
    background-color: rgba(255,255,255,0.25);
}

.icon-image {
    width: 4vw;
    height: 4vw;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(5px);
}

.icon-text {
    font: 1vw "Aller";
    color: white;
    text-align: center;
    transform: translateY(10vh);
}

.desktop-close {
    left: 1vh;
    top: 1vh;
    width: 5vh;
    height: 5vh;
    position: absolute;
    cursor: grab;
}

.icons {
    position: absolute;
    left: 2vw;
    top: 2vw;
    display: grid;
    grid-auto-flow: row;
    gap: 2vw;
}

.update-version {
    font: 2.75vw "Aller";
    font-weight: bold;
    color: rgb(255, 157, 198);
    text-shadow: -9px 9px 5px rgba(255, 157, 198,0.5);
}

.update-heaader {
    font: 2.25vw "Aller";
    font-weight: bold;
    color: white;
    padding-top: 1.5vw;
    padding-bottom: 0.5vw;
    text-shadow: -7px 7px 5px rgba(255,255,255,0.5);
}

.update-text {
    font: 1.25vw "Aller";
    color: white;
    text-shadow: -5px 5px 5px rgba(255,255,255,0.5);
}

.updates {
    position: absolute;
    right: 2vw;
    top: 2vw;
    display: list-item;
    justify-items: right;
    gap: 2vw;
    list-style: none;
}